<body>
  <link href="css/newattachments.css" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous"
  />

  <div class="AttachmentBox" id="MainWindow">
    <div class="TitleBox">
      <span class="Title">Ped Decorator</span>
      <div class="TitleCloseButton" onclick="closeDecorator()">x</div>
    </div>
    <div class="AttachmentInnerBox">
      <div class="BoxButton" onclick="addNewObject()">Add Object</div>
      <div
        class="BoxButton DisableButton"
        id="chooseObjectButton"
        onclick="openWindow(`ChooseObject`)"
      >
        Choose Object
      </div>
      <div
        class="PrintObjects DisableButton"
        id="printObjectsButton"
        onclick="printObjects()"
      >
        Print Objects
      </div>
      <i
        class="far fa-hand-spock DisableButton"
        id="editItemButton"
        onclick="openWindow(`AnimationViewer`)"
      ></i>
    </div>
  </div>

  <div class="AttachmentChooseBox" id="ChooseObject" style="display: none;">
    <div class="TitleBox">
      <span class="Title">Choose Object</span>
      <div class="TitleCloseButton" onclick="closeWindow(`ChooseObject`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond" id="AttachmentObjectList"></div>
  </div>

  <div class="AttachmentEditObjectBox" id="EditObject" style="display: none;">
    <div class="TitleBox">
      <span class="Title">Edit Object</span>
      <div class="TitleCloseButton" onclick="closeWindow(`EditObject`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond">
      <div class="AttachmentEditItem">
        <input
          class="editItemInput"
          id="editItemHash"
          type="text"
          value=""
          placeholder="Object Hash"
          maxlength="128"
        />
        <i class="fas fa-list-ul DisableButton" id="editItemButton"></i
        ><i
          class="far fa-check-square"
          id="editItemButton"
          onclick="updateObject('objectHash')"
        ></i>
      </div>
      <div class="AttachmentEditItem">
        <input
          class="editItemInput"
          id="editItemBone"
          type="number"
          value=""
          placeholder="Bone ID"
          min="0"
          max="99999"
        />
        <i
          class="fas fa-list-ul"
          id="editItemButton"
          onclick="openWindow(`BoneList`)"
        ></i
        ><i
          class="far fa-check-square"
          id="editItemButton"
          onclick="updateObject('objectBone')"
        ></i>
      </div>

      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position X</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosXValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosX"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position Y</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosYValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosY"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Position Z</div>
        <div class="AttachmentEditSliderNumber" id="editItemPosZValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderPosZ"
          type="range"
          value="0"
          step="0.001"
          min="-2"
          max="2"
          oninput="updatePosAndRot()"
        />
      </div>

      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation X</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotXValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotX"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation Y</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotYValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotY"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>
      <div class="AttachmentEditItem">
        <div class="AttachmentEditTitle">Rotation Z</div>
        <div class="AttachmentEditSliderNumber" id="editItemRotZValue">0</div>
        <input
          class="editItemSlider"
          id="editItemSliderRotZ"
          type="range"
          value="0"
          step="0.1"
          min="0"
          max="360"
          oninput="updatePosAndRot()"
        />
      </div>

      <div class="AttachmentEditItem">
        <i
          class="far fa-trash-alt"
          id="editItemButton"
          onclick="deleteObject()"
        ></i>
        <i class="far fa-clone" id="editItemButton" onclick="cloneObject()"></i>
      </div>
    </div>
  </div>

  <div class="AttachmentBoneBox" id="BoneList" style="display: none;">
    <div class="TitleBox">
      <span class="Title">Bone List</span>
      <div class="TitleCloseButton" onclick="closeWindow(`BoneList`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond" id="AttachmentBoneList"></div>
  </div>

  <div
    class="AttachmentAnimationBox"
    id="AnimationViewer"
    style="display: none;"
  >
    <div class="TitleBox">
      <span class="Title">Play Animation</span>
      <div class="TitleCloseButton" onclick="closeWindow(`AnimationViewer`)">
        x
      </div>
    </div>
    <div class="AttachmentInnerBoxSecond">
      <input
        class="AnimationInput"
        type="text"
        value=""
        maxlength="128"
        placeholder="Anim Dict"
        id="animationDict"
      />
      <input
        class="AnimationInput"
        type="text"
        value=""
        maxlength="128"
        placeholder="Anim Name"
        id="animationName"
      />
      <i
        class="fas fa-stop"
        id="editItemButton"
        style="top: 1.3vh;"
        onclick="stopAnimation()"
      ></i>
      <i
        class="fas fa-play"
        id="editItemButton"
        style="top: 1.3vh;"
        onclick="playAnimation()"
      ></i>
    </div>
  </div>
</body>

<script src="attachments.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
